{% extends "base.html" %}
{% block content %}
<link type="text/css" href="https://getbootstrap.com/1.0.0/assets/css/bootstrap-1.0.0.min.css">
<div class="container" style="position: relative;">
<table>
<h0 style="text-align: left;">
    <h1> {{ cop.firstN }} {{ cop.lastN }}</h1>
    <h2 >{{ cop.rank }}, {{ cop.dept }} </h2>
    <h3>$ {{ cop.sal }}</h3>
</h0>
</table>
<style>
    h4 {color: whitesmoke;font-size: large;}
    form {color: whitesmoke; text-align: justify;}
    td {color: whitesmoke}
</style>
<h4>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</h4>

<form action="" method="post" enctype="multipart/form-data" action class="form-stacked">
    {{ form.hidden_tag() }}  
    {{ form.postTime(type="hidden")}}
    <p>
        {{ form.datetime.label }} 
        {{ form.datetime(size=32, type="datetime-local") }}

       {{ form.eviUp.label }} 
       {{ form.eviUp(type="file") }} 
<br>
        {{ form.title.label }} 
        {{ form.title(size=32) }}

        {{ form.location.label }}
        {{ form.location(size=32) }}
    <br>
    
     <!--  {{ form.copTag.label }} -->
        {{ form.copTag(type="hidden", default=copID)}}
 
        {{ form.cw.label }}
        {{ form.cw(size=32) }}
    </p>
    <p>
        {{ form.descrip.label }} <br>
        {{ form.descrip(size=32, style='height: 250px; width: 500') }}
    </p>
    <p>
       
    </p>
        {{ form.escDesc(style='height: 50px; width: 100px') }}
        {{ form.depTag.label}}
        {{ form.depTag(style='height: 50px; width: 50px')}}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

<table class="common-table">
<tbody>
<p style="font-size: x-large; text-align: left;">USER REPORTS</p>
{% for post in post %}
    <p style="color: whitesmoke; text-align: left;">
        <p1># {{ post.postID }}</y1> <!-- make this an anchor link to report page--> <br>
        <h2 style="text-align: left;">{{ post.title }}</h1> 
        <h3 style="text-align: left;">Officer # {{ post.copTag}}, {{ post.depTag }}</h2>
        <h5 style="text-align: left;"> posted on: {{ post.postTime }}, {{ post.datetime }}</h> <br>
        <h5 style="text-align: left">Location: {{ post.location }}, {{ post.cw }}, </h> <br>
        <h3 style="text-align: left;">{{ post.descrip }}</h> <br>
        <h5 style="text-align: left;">{{ post.escDesc }}</h> <br>
    </p>
</tbody>
</table>
</div>
{% endfor %}
{% endblock %}