{% extends "base.html" %}
{% block content %}
<link type="text/css" href="https://getbootstrap.com/1.0.0/assets/css/bootstrap-1.0.0.min.css">
<div class="container" style="position: relative;">
<table>
<h0 style="text-align: left;">
    <h1> {{ cop.firstN }} {{ cop.lastN }}</h1>
    <h2 >{{ cop.rank }}, {{ cop.dept }} </h2>
    <h3>$ {{ cop.sal }}</h3>
</h0>
</table>
<style>
    h4 {color: whitesmoke;font-size: large;}
    form {color: whitesmoke; text-align: justify;}
    td {color: whitesmoke}
</style>
<h4>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</h4>
</div>
{% endblock %}
