{% extends "base.html" %}
{% block content %}
<link type="text/css" href="https://getbootstrap.com/1.0.0/assets/css/bootstrap-1.0.0.min.css">
<div class="container" style="position: relative;">
<table>
<h0 style="text-align: left;">
    <h2> {{ cop.firstN }} {{ cop.lastN }}</h2>
    <h4>$ {{ cop.sal }}</h4>
    <h3>{{ cop.rank }}, {{ cop.dept }} </h3>
</h0>
</table>
<style>
    table, h2, h3, h4 {border: 1px solid whitesmoke; border-radius: 5px; border-collapse: collapse;}
    h3 {height: 100;}
    table {border-spacing: 0.1px}
    h5 {color: whitesmoke;font-size: large;}
    form {color: whitesmoke; text-align: justify;}
</style>
<h5>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</h5>
</div>
{% endblock %}
