{% extends "base.html" %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#coptable').DataTable({
        ajax: '/api/data',
        columns: [ 
            {data: 'lastN'},
            {data: 'firstN'},
            {data: 'rank'},
            {data: 'dept'},
            {data: 'sal'},
            {data: 'copID',
            "render": function ( data, type, row, meta ) {
              return '<a href="cop/'+data+'">'+data+'</a>';} 
      }]
      });
    });
  </script>
{% endblock %}

{% block content %}
<head>
    <title>coplist</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <style>
      p1 {text-align: center; color: whitesmoke; font-size: 40px; background-color: black;}
    </style>
</head>

<body>
  <div>
    <p1></p1>
  </div>
</body>

 <table id="coptable" class="display compact" data-page-length="50">
  <thead>
    <tr>
        <th>Last</th>
        <th>First</th>
        <th>Rank</th>
        <th>Department</th>
        <th>Salary</th>
        <th>ID</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
 </table>
{% endblock %}